<% provide(:title, "Forgot password") %>
<div class="col-sm-6 col-xs-12 col-sm-offset-3">
<div class="panel panel-default">
    <div class="panel-heading success-color white-text">
       <h4>Forgot Password</h4>
    </div>
    <div class="panel-body">
            <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      			<%= f.label :email %>
      			<%= f.email_field :email, class: 'form-control' %>
		    <hr>
		    <span class='input-group-btn'>
		    <%= f.submit "Sign In", class: "btn btn-primary" %>
		    </span>
		    <% end %>
    </div>
</div>
</div>