  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="site_modal_title"></h4>
        </div>
        <div class="modal-body" id="site_modal_body">
                    <ul class="list-group">
                        <li class="list-group-item row borderless-top">
                            <div class="col-md-6">IP Address</div>
                            <div class="col-md-6" id="site_ipaddress"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6">Status: </div>
                            <div class="col-md-6" id="site_status"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6">Latitude: </div>
                            <div class="col-md-6" id="site_latitude"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6">Longitude: </div>
                            <div class="col-md-6" id="site_longitude">Country Here</div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6">Description: </div>
                            <div class="col-md-6" id="site_description"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6">Callout: </div>
                            <div class="col-md-6" id="site_callout"></div>
                        </li>
                        <li class="list-group-item row borderless-bottom">
                            <div class="col-md-6">Last Checked:</div>
                            <div class="col-md-6" id="site_lastchecked"></div>
                        </li>
                    </ul>        
                    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>