@import "bootstrap-sprockets";
@import "bootstrap";



textarea { 
  resize: vertical;
  max-height: 150px; 
}

li.borderless-top {
  border-top: 0 none;
}

li.borderless-bottom {
  border-bottom: 0 none;
}

hr.thick-line{
      border: none;
    height: 1px;
    /* Set the hr color */
    color: #515254; /* old IE */
    background-color: #515254; /* Modern Browsers */
}

.modal-header{
    background-color: #2980b9;
    color:white;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal-footer{
    color:white;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.thead-inverse {
    color: #fff;
    background-color: #2980b9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}