  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="site_modal_title"></h4>
        </div>
        <div class="modal-body" id="site_modal_body">
                    <ul class="list-group">
                        <li class="list-group-item row borderless-top">
                            <div class="col-md-6"><b>IP Address:</b></div>
                            <div class="col-md-6" id="site_ipaddress"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6"><b>Status: </b></div>
                            <div class="col-md-6" id="site_status"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6"><b>Latitude: </b> </div>
                            <div class="col-md-6" id="site_latitude"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6"><b>Longitude: </b> </div>
                            <div class="col-md-6" id="site_longitude">Country Here</div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6"><b>Description: </b></div>
                            <div class="col-md-6" id="site_description"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6"><b>Callout: </b> </div>
                            <div class="col-md-6" id="site_callout"></div>
                        </li>
                        <li class="list-group-item row borderless-bottom">
                            <div class="col-md-6"><b>Last Checked: </b></div>
                            <div class="col-md-6" id="site_lastchecked"></div>
                        </li>
                    </ul>        
                    </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: right;">Close</button>
            <div id="site_edit_btn" style="float: right; margin-right: 10px;"></div>
        </div>
      </div>
      
    </div>
  </div>